
#bg-color {
    background: linear-gradient(-45deg, #000000, #3b3b3b, #737373, #ababab);
    background-attachment: fixed;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}